<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body id="body">
    <div class="container">
        <form>
            <div class="image">
                <input id="image1" type="image" src="/images/user.jpg" alt="image of a user">
            </div>
            <div class="mail">
                <span>Email: </span>
                <input type="email" name="" id="email">
            </div>
            <div class="password">
                <span>Password: </span>
                <input type="password" name="" id="password">
            </div>
            <div class="button">
                <button type="submit">login</button>
            </div>
            <div class="create">
                <span>dont have an account <b id="con">create one</b></span>
            </div>
        </form>
    </div>
</body>
<script src="/dist/main.js"></script>
<script src="/js/signin.js"></script>
</html>